
.topnav {
    background-color: #333;
    overflow: hidden;
    display: flex;
    justify-content: end;

  }
  .container{
      margin-right: 40px;
      margin-left: 40px;
      
  }
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
  }
  
  
  .topnav a:hover {
    background-color: #ddd;
    color: rgb(255, 248, 248);
    
  }
  
  
  .topnav a.active {
    
    color: white;
  }

  body{
    font-family: 'Montserrat', sans-serif;
  }

  .hero{
      padding-top: 250px;
      padding-bottom: 250px;
      background-image: url('img/background.jpg');
      background-size: cover;
     
    }
  
  .buttonReadmore{
    margin-left: 50px;
    padding: 5px;
    border-radius: 15px;
    background-color:rgb(63, 24, 236);
  }

  .grid-container {
    display: grid;
    gap: 50px;
    grid-template-columns: auto auto auto;
    background-color: #f40bfc;
    padding: 10px;
  }
  
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 15px;
    text-align: center;
    margin-left: 50px;
    background-color: #f40bfc;
  }

 

  